html {
    
}

body {
    font-family:  "游明朝", serif;
}

.container {
    
}

.wrapper {
    margin: 0 auto;
}

.text-box {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40%;
    writing-mode: vertical-rl;
    line-height: 1.7em;
}