html {
}

.container {
    position: relative;
    font-family: Helvetica Neue, Yu Gothic, sans-serif;
    font-size: 6vw;
}


.title {
    font-weight: bold;    
}

.url-list {
    position: absolute;
    margin-top: 3vw;
}

.url {   
    float: left ;
    clear: left;
    margin-top: 3vw;
    font-size: 4vw;
}

.description {
    margin-left: 3vw;
    margin-top: 3vw;
    float: left ;
    font-size: 4vw;
}