body {
    background: #ffffff;
    font-family: Helvetica Neue,YuMincho;
    overflow: hidden;

}

header {
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 101;
}

.title_logo {
    position: absolute;
    left: 40px;
    line-height: 60px;
    color: #bcbcbc;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.8em;
}

.menu_list {
    position: absolute;
    float: right;
    right: 40px;
}

.menu {
    display: inline-block;
    margin-left: 80px;
    line-height: 60px;
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.8em;
}

.contents {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1122dd,#000c95);
}

.contents_grid {
    width: 100%;
    height: 100%;
    background-image: url("../image/grid.png");
    background-repeat: repeat;
}

.main {
    
}

.main_visual {
    position: absolute;
    top: 60px;
    right: 0;
    width: 80%;
    height: 700px;
    background: #000000;
    border-radius: 20px 0 0 20px;
}

.main_copy {
    position: absolute;
    top: 240px;
    left: -100px;
    z-index: 102;
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 148px;
    letter-spacing: 0.04em;
    text-align: left;
}

.movie_01 {
    position: absolute;
    margin-top: 500px;
    left: 100px;
}

.movie_01_text {
    position: absolute;
    margin-top: 500px;
    left: -24px;
    transform: rotate(-90deg) translate(-50%,-50%);
    color: #ffffff;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.12em;
    
}

.movie_02 {
    display: block;
    margin-top: 100px;
    left: 300px;
    width: 980px;
    height: 550px;
    background: #ff3201;
}