html {
  font-family: 'Italiana', serif;
}

body {
    background: #f5f3ec;
}

.container {
    display: grid;
    height; 100%;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 20% 1fr 20%;
}

.title {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background: #1346f0;
    padding: 40px 40px;
}

.side-left {
    grid-row: 2 / 6;
    grid-column: 1 / 2;
    background: #22c4ff;
    padding: 40px 40px;
}

.side-right {
    grid-row: 2 / 6;
    grid-column: 3 / 4;
    background: #ff8822;
    padding: 40px 40px;
}

.article1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background: #cbcbcb;
    padding: 40px 40px;
    height: 100px;
}

.article2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background: #f0f0f0;
    padding: 40px 40px;
    height: 100px;
}

.article3 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background: #cbcbcb;
    padding: 40px 40px;
    height: 100%;
}

.article4 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background: #f0f0f0;
    padding: 40px 40px;
    height: 100px;
}

.footer {
    grid-row: 7 / 7;
    grid-column: 1 / 4;
    background: #6c6c6c;
    padding: 40px 40px;
    height: auto;
}

@media screen and (max-width: 700px){
    .title {
    background: #f01313;
}

    .container {
    display: grid;
    height; 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
    .title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: #1346f0;
    padding: 40px 40px;
}

.side-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: #22c4ff;
    padding: 40px 40px;
}

.side-right {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background: #ff8822;
    padding: 40px 40px;
}

.article1 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background: #cbcbcb;
    padding: 40px 40px;
    height: 100px;
}

.article2 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    background: #f0f0f0;
    padding: 40px 40px;
    height: 100px;
}

.article3 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    background: #cbcbcb;
    padding: 40px 40px;
    height: 100%;
}

.article4 {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    background: #f0f0f0;
    padding: 40px 40px;
    height: 100px;
}

.footer {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
    background: #6c6c6c;
    padding: 40px 40px;
    height: auto;
}

    
}

@media screen and (min-width: 701px){
    
}