body{
    background-color: #bc0000;
    color: #ffffff;
}

.stone_set {
    position: absolute;
  top: 45%;
  left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}

.stone_img {
    animation-name: flying_stone;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    margin: 0 auto;
    background-image: url(../media/stone_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
}
.stone_txt {
    margin-top: 40px;
    text-align: center;
    letter-spacing: 1.1em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.4em;
    color: #ffffff;
}

@keyframes flying_stone {
    0% {
        margin-top:-200px;
    }
    100% {
        margin-top:200px;
    }
}