html {
  font-family: 'Italiana', serif;
}

body {
    background: #ffffff;
}

.container {
    width: 100%;
    font-family: 'Roboto', "見出ゴMB31","Midashi Go MB31", sans-serif;
    font-size: 10vw;
    letter-spacing: -0.12em;
    font-feature-settings: "palt";
}

p {
    display: inline;
}

.poem-01 {
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(../image/pattern_01.png);
}

.poem-02 {
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(../image/pattern_02.png);
}

.poem-03 {
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(../image/pattern_03.png);
}

.poem-04 {
    color: transparent;
    -webkit-background-clip: text;
    background-image: url(../image/pattern_04.png);
}

.poem-01:hover {
    color: #ffffff;
    background: url(../image/pattern_01.png);
}

.poem-02:hover {
    color: #ffffff;
    background: url(../image/pattern_02.png);
}

.poem-03:hover {
    color: #ffffff;
    background: url(../image/pattern_03.png);
}