html {
    font-size: 16px;
    font-family: HelveticaNeue;
    background-color: #000000;
}

.set {
    margin: auto;
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;
}

#input_id {
    display: block;
    margin-bottom: 80px;
    width: 100%;
    height: 20vh;
    font-size: 8em;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 6px #000000 solid;
    border-left: 0px ;
}

#input_pass {
    display: block;
    width: 100%;
    height: 20vh;
    font-size: 8em;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 6px #000000 solid;
    border-left: 0px ;
}

.btn_login {
    width: 100%;
    height: 20vh;
}