body {
  color: #424242;
}

.h1-wrap {
  width: 100%;
  background-color: #424242;
}

.h1-wrap h1{
  margin: 0 auto;
  width: 86%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.control-area-wrap {
  width: 100%;
  background-color: #f0f0f0;
}

.control-area {
  margin: 0 auto;
  width: 86%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-wrap {
  margin: 0 auto;
  width: 60%;
  margin-top: 40px;
  font-family: YakuHanJP,Helvetica,YuGothic,"游ゴシック体","Yu Gohic","YuGohic","游ゴシック",sans-serif;
}

.text-wrap h1 {
  margin-bottom: 30px;
  font-size: 20pt;
  font-weight: bold;
}

.text-wrap p {
  line-height: 1.5em;
}
