html {
  font-family: 'Italiana', serif;
}

body {
    background: #f5f3ec;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main-image {
    
    margin: 40px 40px 0 40px;
    height: 70%;
    background-image: url("../image/fukuoka_01.jpg");
    background-size: cover;
    background-position: center;
}

.main-title {
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    top: 12vw;
    left: 50%;
    writing-mode: vertical-rl;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    color: #00a4b2;
    font-size: 22vw;
    font-family: "YuMincho",serif;
    mix-blend-mode : multiply;
}

.sub-en-title {
    position: absolute;
    margin-top: -60px;
    left: 60px;
    line-height: 1.0em;
    font-size: 4vw;
    font-family: Helvetica Neue,san-serif;
    color: #ffffff;
}

.sub-title {
    float: right;
    margin-right: 40px;
    margin-top: 60px;
    font-size: 4vw;
    font-family: "YuMincho",serif;
    color: #00808b;
}

.description {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 3vw;
    font-family: Helvetica Neue,serif;
    font-weight: 100;
    color: #00808b;
}