/*all*/
html {
    
}

body {
    font-family:  "游明朝", serif;
}

.container {
    
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/*index*/
h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 3.4em;
}

.text-description {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
}

.list-box {
    margin-top: 60px;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
}

.list:nth-child(n+2) {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

a:link {
    color: #ff001d;
}

a:visited {
    color: #ff001d;
}

/*page_01*/
.text-yakuhan {
    margin-top: 100px;
    width: 80%;
    font-family: YakuHanMP, YuMincho, sans-serif;
    line-height: 1.8em;
}

/*page_02*/
.text-tracking_check {
    margin-top: 80px;
    font-size: 1em;
    color: #3693ff;
}

.text-tracking_1 {
    margin-top: 16px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.text-tracking_2 {
    margin-top: 16px;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

.text-tracking_3 {
    margin-top: 16px;
    margin-bottom: 80px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.toukyo {
    letter-spacing: -0.2em;
}

.hixtu {
    letter-spacing: -0.1em;
}

.fi {
    letter-spacing: -0.2em;
}

/*page_03*/
.text-kerning {
    margin: 0 auto;
    transform: translateY(-50%);
    margin-top: 50vh;
    width: 80%;
    font-size: 1.8em;
    line-height: 1.8em;
}

.to {
    letter-spacing: -0.1em;
}

.u {
    letter-spacing: -0.08em;
}

.ki {
    letter-spacing: -0.2em;
}

.xyo {
    letter-spacing: -0.2em;
}

.touten {
    letter-spacing: -0.4em;
}

.fu {
    letter-spacing: -0.18em;
}

.xi {
    letter-spacing: -0.1em;
}

/*page_04*/
.text-kinsokunashi {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.5em;
}
.text-kinsoku {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.5em;
    word-wrap: break-word;
}

/*page_05*/
.text-tategaki {
    margin: 0 auto;
    transform: translateY(-50%);
    margin-top: 50vh;
    height: 60%;
    writing-mode: vertical-rl;
    font-size: 1.1em;
    line-height: 1.5em;
}

/*page_06*/
.text-slating {
    margin: 0 auto;
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 50vh;
    width: 50%;
    height: 50%;
    font-size: 1.1em;
    line-height: 3em;
}

/*page_07*/
.text {
    margin: 0 auto;
    transform: translateY(-50%);
    margin-top: 50vh;
    font-size: 4em;
    line-height: 1.5em;
}

.text-smallcaps {
    font-variant: small-caps;
}