html {
    
}

body {
    font-family:  "Hiragino Kaku Gothic ProN", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*ここから名前*/
.namepl {
    z-index: 9999;
    position: fixed;
    text-align: center;
    top: 20px;
    right: 0px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    background-color: rgba(255,244,0,0.9);
    color: #000000;
    font-size: 14px;
    border-radius: 20px 0 0 20px;
}

/*ここからトップに戻るボタン*/
#pageTop {
    z-index: 9999;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 80px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}
 
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/*ここからヘッダー*/

.header {
    width: 100%;
    height: 137px;
    background-image: url(../image/bg_g.jpg);
    background-repeat: repeat;
}

.header__wrap {
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 100%;
}

.header__logo {
    position: absolute;
    display: inline;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    width: 261px;
    height: 81px;
    background-image: url(../image/logo_freshness.png);
}

.header__langselect {
    position: absolute;
    float: left;
    top: 30px;
    right: 0;
}

.header__langset {
    color: #f8ebd9;
}

.header__langitem {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px #f8ebd9;
}

.header__langitem a {
    display: block;
    color: #f8ebd9;
    text-decoration: none;
}

.header__langitem:last-child {
    border-right: none;
    padding-right: 0px;
}

.header__nav {
    position: absolute;
    float: left;
    right: 0;
    bottom: 30px;
}

.header__menu {
    display: inline;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #f8ebd9;
}

.header__menuitem {
    float: left;
    padding-right: 20px;
}

.header__menuitem a {
    display: block;
    color: #f8ebd9;
    text-decoration: none;
}

.header__menutext {
    margin-top: 10px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 14px;
}

.header__roope {
    position: relative;
    float: left;
    right: 0;
    top: 8px;
}

/*ここからメインビジュアル*/

.mainvisual {
    width: 100%;
    height: 454px;
    background-image: url(../image/bg_b.png);
    background-repeat: repeat;
}

.mainvisual__image {
    position: relative;
    margin: 0 auto;
    top: 2px;
    width: 980px;
    height: 450px;
}

/*ここからスライダ関連*/
.slick-prev,
.slick-next
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: black;
}

/*ここからピックアップメニュー*/

#pickup {
    width: 100%;
    background-image: url(../image/bg_g.jpg);
    background-repeat: repeat;
}

.pickup__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_b.png) 50 repeat;
}

.pickup__stitle {
    background-image: url(../image/tex_grange_01.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.pickup__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #f8ebd9;
}

.pickup__menuset {
    position: relative;
    margin: 0 auto;
    top: 30px;
    width: 980px;
}

.pickup__menuitem {
    float: left;
    margin-right: 10px;
    width: 237px;
    background-image: url(../image/pickup_base.jpg);
    background-repeat: no-repeat;
}

.pickup__menuitem a {
    display: block;
    color: #f8ebd9;
    text-decoration: none;
}

.pickup__menuitem a:hover .pickup__image {
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.5);
    transition-property: all;
    transition: all 0.4s;
}

.pickup__menuitem:last-child {
    margin-right: 0px;
}

.pickup__image {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 227px;
    height: 240px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.pickup_menutext {
    margin-top: 10px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    color: #f8ebd9;
}

.clearfix {
    content: "";
	clear: both;
    margin-bottom: 80px;
}

/*ここからニュース*/
#news {
    width: 100%;
    background-image: url(../image/bg_b.png);
    background-repeat: repeat;
}

.news__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #7c4726;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_br.png) 50 repeat;
}

.news__stitle {
    background-image: url(../image/tex_grange_02.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.news__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7c4726;
}

.news__newsset {
    position: relative;
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
}

.news__newsitem {
    height: 36px;
    border-bottom: solid 1px #7c4726;
    line-height: 36px;
    font-family: "Yugothic";
}

.news__newsitem:nth-last-of-type(1) {
    border-bottom: none;
}

.news__date {
    float: left;
    font-weight: bold;
    color: #7c4726;
}

.news__category--menu {
    position: relative;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    margin-left: 20px;
    padding-left: 7px;
    width: 148px;
    height: 27px;
    background-color: #427147;
    color: #ffffff;
    font-weight: bold;
    line-height: 27px;
}

.news__category--menu::before {
    float: left;
    margin-right: 7px;
    content: url(../image/newsicon_01.png);
}

.news__category--shop {
    position: relative;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    margin-left: 20px;
    padding-left: 7px;
    width: 148px;
    height: 27px;
    background-color: #7c4726;
    color: #ffffff;
    font-weight: bold;
    line-height: 27px;
}

.news__category--shop::before {
    float: left;
    margin-right: 7px;
    content: url(../image/newsicon_02.png);
}

.news__category--event {
    position: relative;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    margin-left: 20px;
    padding-left: 7px;
    width: 148px;
    height: 27px;
    background-color: #882728;
    color: #ffffff;
    font-weight: bold;
    line-height: 27px;
}

.news__category--event::before {
    float: left;
    margin-right: 7px;
    content: url(../image/newsicon_03.png);
}

.news__text {
    float: left;
    margin-left: 20px;
    color: #7c4726;
}

.btn_wrap {
    margin:0 auto;
    width: 960px;
}

.btn_list {
    float: right;
    margin-top: 8px;
    text-decoration: none;
}

.btn_list--brown, .btn_list--brown:link:hover:visited:active {
    color: #7c4726;
}

.btn_list--brown::after {
    margin-left: 8px;
    content: url(../image/arrow_brown.png);
}

.news__clearfix {
    content: "";
	clear: both;
    margin-bottom: 50px;
}

/*ここからキャンペーン*/
#campaign {
    width: 100%;
    background-image: url(../image/bg_g.jpg);
    background-repeat: repeat;
}

.campaign__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #f8ebd9;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_b.png) 50 repeat;
}

.campaign__stitle {
    background-image: url(../image/tex_grange_01.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.campaign__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.campaign__campset {
    position: relative;
    top: 30px;
    text-align: center;
    margin-top: 30px;
    width: 960px;
    margin:0 auto;
}

.campaign__campitem {
    display: inline;
    margin-right: 20px;
    width: 230px;
    height: 230px;
}

.campaign__campitem:last-child {
    margin-right: 0px;
}

.campaign__campitem img {
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.campaign__campitem img:hover {
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.5);
    transition-property: all;
    transition: all 0.4s;
}

.btn_list--beige {
    float: right;
    margin-top: 8px;
    text-decoration: none;
    color: #faf7ee;
}

.btn_list--beige:hover:visited:active {
    color: #faf7ee;
}

.btn_list--beige::after {
    margin-left: 8px;
    content: url(../image/arrow_beige.png);
}

/*おいしさへのこだわり*/
#taste {
    width: 100%;
    background-image: url(../image/bg_b.png);
    background-repeat: repeat;
}

.taste__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #7c4726;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_br.png) 50 repeat;
}

.taste__setitle {
    background-image: url(../image/tex_grange_02.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.taste__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.taste__tasteset {
    margin: 0 auto;
    margin-top: 30px;
    width: 980px;
}

.taste__tasteitem {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 480px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.taste__tasteitem:hover {
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.5);
    transition-property: all;
    transition: all 0.4s;
}

.taste__tasteitem:last-child {
    margin-right: 0px;
}

.taste__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 200px;
    background-image: url(../image/taste_frame.png);
    background-color: rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.taste__textset {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    text-align: center;
    color: #faf7ee;
    
}

.taste__stitle {
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.taste__text {
    margin-top: 10px;
    width: 480px;
    font-family: "YuGothic", "Yu Gothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.taste__clearfix {
    content: "";
	clear: both;
    margin-bottom: 50px;
}

/*ここからサービス*/
#service {
    width: 100%;
    background-image: url(../image/bg_g.jpg);
    background-repeat: repeat;
}

.service__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #f8ebd9;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_b.png) 50 repeat;
}

.service__stitle {
    background-image: url(../image/tex_grange_01.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.service__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.service__serviceset {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 980px;
}

.service__campitem {
    float: left;
    margin-right: 15px;
    width: 231px;
    height: 231px;
    border-radius: 8px;
}

.service__campitem img {
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: all 0.2s;
}

.service__campitem img:hover {
    box-shadow: 8px 8px 18px 8px rgba(0,0,0,0.5);
    transition-property: all;
    transition: all 0.4s;
}

.service__campitem:last-child {
    margin-right: 0px;
}

.service__clearfix {
    content: "";
	clear: both;
    margin-bottom: 50px;
}

/*ここから採用*/
#recruit {
    width: 100%;
    background-image: url(../image/bg_b.png);
    background-repeat: repeat;
}

.recruit__title {
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateX(-50%);
    margin-top: 51px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #7c4726;
    border-top: solid 2px #f8ebd9;
    border-bottom: solid 2px #f8ebd9;
    border-image: url(../image/bar_br.png) 50 repeat;
}

.recruit__stitle {
    background-image: url(../image/tex_grange_02.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
}

.recruit__titletext {
    display: block;
    margin-top: 10px;
    font-family: "Hiragino Kaku Gothic ProN","Yu Gothic", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.recruit__recruitset {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    width: 980px;
}

.recruit__campitem {
    float: left;
    margin-right: 16px;
    width: 480px;
    height: 150px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.recruit__campitem:last-child {
    margin-right: 0px;
}

.recruit__clearfix {
    content: "";
	clear: both;
    margin-bottom: 50px;
}

/*ここからフッター*/
footer {
    padding-top: 44px;
    padding-bottom: 54px;
    width: 100%;
    background-image: url(../image/bg_b.jpg);
    background-repeat: repeat;
}

.footer__nav {
    position: relative;
    margin: 0 auto;
    width: 750px;
}

.footer__navset {
    float: left;
    margin-right: 30px;
    width: 230px;
    height: auto;
    font-family: "YuGothic", "Yu Gothic", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #f8ebd9;
}

.footer__navset:nth-child(3) {
    margin-right: 0px;
    height: 80px;
}

.footer__navitem {
    line-height: 1.5em;
}

.footer__navitem a {
    color: #f8ebd9;
    text-decoration: none;
}

.footer__snsset {
    float: left;
    width: 230px;
}

.footer__snsitem {
    float: left;
    margin-right: 10px;
}

.footer__copyright {
    overflow: hidden;
    padding-top: 68px;
    text-align: center;
    width: 100%;
    font-size: 10px;
    color: #ffffff;
}