body {
    z-index:0; 
    background: #ffffff;
    font-family: Helvetica Neue,YuMincho;
    
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #333333;
    transition: background 1s;
}

.heart:active {
    background: #ffffff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    animation-name: heart_animation;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.heart:active + .background {
    background-color: #000000;
}


@keyframes heart_animation {
    0% {
        transform: translate(-50%,-50%) scale(1.0);
    }
    70% {
        transform: translate(-50%,-50%) scale(1.0);
    }
    80% {
        transform: translate(-50%,-50%) scale(4.0);
    }
    94% {
        transform: translate(-50%,-50%) scale(0.88);
    }
    100% {
        transform: translate(-50%,-50%) scale(1.0);
    }
}

.background {
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: background 1s;
}