body {
    font-family: system-ui;
    counter-reset:section;
}

p {
    color:red;
    text-align: left;
    direction: rtl;
    unicode-bidi: bidi-override;
}

img {
    visibility: hidden;
}

li {
    list-style-position: inside;
    list-style-type: upper-roman;
}

h3::before {
    counter-increment: section;
    content:counter(section) "章";
}