html {
  font-family: 'Italiana', serif;
}

body {
    background: #ffffff;
}

.container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.flextest {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    position: relative;
    width: 20%;
    height: 20em;
    background: #ededed;
}

.box:before {
    content:'';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: rgba(0,0,0,0.5);
}



.box:nth-child(2n) {
    background: #cecece;
}