body {
    background: #ffffff;
    font-family: Helvetica Neue,YuMincho;
    overflow: hidden;

}

.contents {
    position: relative;
    width: 100%;
}

.maintext_area {
   position: absolute;
    top: 40vh;
    left:24%;
    width: 100%;
    
    
}

.maintext {
    display: inline-block;
    transform:rotate(-45deg) ;
    font-family: Helvetica Neue,YuMincho;
    font-size: 3vw;
    line-height: 2.2em;
    letter-spacing: 0.5em;
    text-align: center;
    
}