body {
    font-family: "Noto Sans Japanese","ヒラギノ角ゴ ProN W3",sans-serif;

}

div {
    display: block;
}

.contents_wrapper {
    z-index: -10000;
    position: relative;
    display: block;
    background-attachment: scroll;
    background-clip: border-box;
    width: 100%;
    height: 2000px;
    background: #2c3fc9;
    visibility: visible;
}

.contents {
    z-index: -9999;
    position: absolute;
    display: block;
    top: 0px;
    left: 20px;
    right: 20px;
    height: 100%;
    background: #ffffff;
}

/*メインイメージエリア*/

.mainimage {
    width: 100%;
    height: 600px;
    background: #ededed;
}

/*WHAT'S NEWエリア -自分にあった学びってなんだろう*/

.sec_new_area {
    display: block;
    box-sizing: border-box;
    height: 520px;
    padding: 60px 0 30px 0;
    background: #f9f8f5;
}

.sec_new_wrapper {
    
}

.sec_new_title {
    position: absolute;
    padding-bottom: 30px;
    color: #bebebe;
    font-size: 12px;
    font-weight: bold;
}

.sec_new_title:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: #bebebe;
    content:'';
}

.news_list_wrapper {
    padding-left: 168px;
}

.news_list {
    float: left;
}

.news {
    float: left;
    width: 306px;
}

.news:not(:first-child) {
    margin-left: 30px;
}

.news_datetime {
    padding-bottom: 24px;
    color: #bebebe;
    font-size: 12px;
    font-weight: bold;
}

.news_container {
    background: #ffffff;
    border-top: 4px solid #bebebe;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    padding-bottom: 40px;
}

.news_image {
    display: block;
    margin: 20px auto 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #2c3fc9;
}

.news_category {
    display:block;
    margin: 0 20px 10px 20px;
    font-size: 12px;
}

.news_title {
    display: block;
    margin: 0 20px 0 20px;
    font-size: 16px;
    line-height: 1.5em;
}

/*学科・学部を探すエリア*/

.sec_department_area {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    padding: 60px 0 0 0;
}

.sec_department_wrapper {
    width: 1146px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.sec_department_title {
    position: absolute;
    padding-bottom: 30px;
    color: #bebebe;
    font-size: 12px;
    font-weight: bold;
}

.sec_department_title:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: #bebebe;
    content:'';
}

.department_wrapper {
    
}

.department_message {
    position: relative;
    margin-top: 108px;
    float: left;
    width: 480px;
    height: 500px;
}

.department_title {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 54px;
    font-weight: 100;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    color: #898989;
}

.department_text {
    z-index: 100;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 14px;
    color: #898989;
    line-height: 1.8em;
}

.department_image {
    position: absolute;
    z-index: -1;
    top: 100px;
    width: 480px;
    height: 400px;
    background: #ededed;
}

/*WHAT'S NEWエリア -学部から探す*/

.department_search {
    display: inline-block;
    position: relative;
    z-index: -1;
    margin-top: 108px;
    margin-left: 30px;
    width: 306px;
    height: 500px;
    background: #ffffff;
}

.department_search_title {
    position: absolute;
    font-size: 28px;
    writing-mode: vertical-rl;
    margin-right: 20px;
}

.department_search_base {
    display: block;
    position: absolute;
    z-index: -1;
    top: 100px;
    width: 100%;
    height: 400px;
    background: #ededed;
}

.btn_detail {
    position: absolute;
    display: inline-block;
    text-align: center;
    transform:translate(-50%);
    top: 40px;
    left: 50%;
    padding:0 40px;
    border: 1px solid #ccc;
    background: #ffffff;
    line-height: 2.8em;
    font-size: 12px;
    text-align: center;
}

/*WHAT'S NEWエリア -興味の分野から探す*/

.department_interest {
    display: inline-block;
    position: absolute;
    z-index: -1;
    margin-top: 108px;
    margin-left: 30px;
    width: 306px;
    height: 500px;
    background: #ffffff;
}



