html {
  font-family: 'Italiana', serif;
}

body {
    background: #ffffff;
}

.container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*ここからフロートナビ*/

.floatnavi-list {
    position: fixed;
    transform: translate(0,-50%);
    right: 0;
    top: 50%;
}

.floatnavi-menu {
    width: 60px;
    height: 60px;
}

.navimenu-1 {
    background: #f5ff00;
}

.navimenu-2 {
    background: #d2db00;
}

.navimenu-3 {
    background: #b9c100;
}

/*ここからメインビジュアル*/

.main-visual {
    width: 100%;
    height: 100vh;
    background: #efefef;
}

/*ここからグローバルメニュー*/

.header-wrapper {
    
}

.header-inner {
    z-index: 100;
    position: fixed;
    top: 30px;
    width: 100%;
    height: 100px;
}

.header-logo {
    position: absolute;
    float: left;
    left: 40px;
    font-size: 36px;
    font-weight: 900;
}

.menu-list {
    float: right;
    font-weight: 900;
}

.menu {
    display: inline-block;
    margin-right: 40px;
    font-size: 16px;
}

.subtitle {
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    color: #cc9b3e;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

/*ここからエントリー*/

.entry {
    padding:0 8em;
    margin-top: 60px;
}

.entry-list {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.entry-box {
    transition: all 0.2s linear;
    display: block;
    position: relative;
    width: calc((100% - 1px)/ 3);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.entry-box:before{
    content:'';
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.entry-box:nth-child(3n):after{
    content:'';
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.entry-box:hover {
    z-index: 4;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    background: #f5ff00;
}

.entry-thumb {
    position: relative;
    width: 100%;
    height: 220px;
    background: #efefef;
}

.entry-thumb:nth-child(2n) {
    background: #000000;
}


.entry-detail {
    padding: 3em 4em;
}

.entry-meta {
    
}

.entry-meta > p + p {
    padding-left: 1em;
    margin-left: 1em;
}

.entry-date {
    display: inline-block;
    font-size: 0.8rem;
}

.entry-tags {
    display: inline-block;
    font-size: 0.8rem;
}

.entry-tags:before {
    position: absolute;
    display: block;
    content: '';
    margin-left: -16px;
    width: 1px;
    height: .75em;
    background-color: rgba(0,0,0,.2);
}

.entry-title {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
}

.entry-sammary {
    margin-top: 20px;
    font-size: 0.8em;
    line-height: 1.5em;
}

.entry-hash {
    margin-top: 20px;
    font-size: 0.8em;
    color: #cdcdcd;
}

.btn-container {
    padding: 4em 0;
}

.btn-more {
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 1.8em 0;
    text-align: center;
    max-width: 30em;
    font-size: 0.8rem;
    border: 1px solid #cecece;
    background-color: #ffffff;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(235, 255, 0, 1) 50%);
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.btn-more:hover {
    background-position: -100% 100%;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}


.btn-more span{
    font-size: 0.8rem;
}

.btn-viewall {
    padding: 5em 0;
    text-align: center;
    background: #ededed;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(235, 255, 0, 1) 50%);
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.btn-viewall > span {
    font-size: 14px;
}

.btn-viewall > span:after {
    content: '+';
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.btn-viewall:hover {
    background-position: -100% 100%;
}