body{
    background-color: #dd0000;
    color: #eedd00
}

.content-wrapper{
    margin:0 auto;
    width: 90%;
}

.set {
    font-family: ヒラギノ角ゴ ProN;
    font-weight: 600;
    line-height: 1.5em;
    width: 40%;
}

.set-name {
    margin-top: 2em;
    font-size: 1.6em;
}

.set-weight {
    margin-top: 1.2em;
    font-size: 0.8em;
    font-weight: normal;
}

.set-sample {
    margin-top: 1.5em;
    font-weight: normal;
}