

html {
  font-family: 'Italiana', serif;
}

body {
    background: #f5fffd;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "YuGothic", sans-serif;
    overflow: hidden;
}

.wrapper {
    position: relative;
    float: left;
    width: 100%;
    top:40px;
    
}

.main-image {
    float: left;
    width: 40%;
    height: 100%;
    background-image: url("../image/fukuoka_01.jpg");
    background-size: cover;
    background-position: center;
}

.theme {
    display: inline;
}

.sub-title {
    display: inline;
    margin-left: 60px;
    height: 400px;
    writing-mode: vertical-rl;
    font-size: 48px;
    font-family: "YuMincho", serif;
}

.sub-title:before {
    content:'';
    margin-top: -4px;
}

.description {
    float: right;
    display: inline;
    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    
    font-size: 14px;
    font-feature-settings: "palt";
    line-height: 1.8;
    color: #343434;
}

.description:before {
    content:'';
    display: block;
    margin-top: -4px;
}

