body {
    
    background: #0039d3;
    color: #ffffff;
}

div {
    display: block;
}

.container {
    width: 100%;
    font-family: YakuHanJP,"游ゴシック","Yu Gothic","Noto Sans Japanese","ヒラギノ角ゴ ProN W3",sans-serif;
    
}

.page-title {
    margin-top: 40px;
    font-size: 60px;
    font-family: YakuHanJP,Helvetica Neue,"游ゴシック","Yu Gothic","Noto Sans Japanese","ヒラギノ角ゴ ProN W3",sans-serif;
    font-weight: 500;
}

.desctiption {
    margin-top: 30px;
}

.container-wrapper {
    display:block;
    position: relative;
    margin: 0 auto;
    width: 60%;
}

.container dl {
    margin-top: 30px;
    width: 100%;
}

.container dt {
    float: left;
    border-top: 1px solid #6c87d0;
    padding: 20px 0;
    width: 300px;
    font-size: 14px;
}

.container dd {
    margin-left: 300px;
    border-top: 1px solid #6c87d0;
    border-bottom: 1px solid rgba(0,0,0,0);
    padding: 20px 0;
    font-size: 14px;
}

.container a {
    color: #ffffff;
}