body {
    font-family: Helvetica Neue,YuMincho;
}

.contents {
    width: 100%;
    height: 100vh;
}
/*
.mainimage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.mainimage img {
    position: absolute;
    animation-name: show;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation: show 16s infinite;
    border-radius: 20px;
}

.mainimage img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.mainimage img:nth-of-type(2) {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.mainimage img:nth-of-type(3) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.mainimage img:nth-of-type(4) {
    animation-delay: 9s;
    -webkit-animation-delay: 9s;
}

.mainimage img:nth-of-type(5) {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes show  {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
    



.maintitle {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;
    transform:translate(0,-50%);
    font-family: Helvetica Neue,sansa-serif;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -0.04em;
    line-height: 1.0em;
    color: #222222;
    
}

*/

.photo-show { 
    height: 440px; /*表示したい大きさ*/
    margin: 30px auto; /*縦余白30pxは任意*/
    max-width: 100%;
    position: relative;
    width: 440px; /*表示したい大きさ、height と合わせる*/
}

.photo-show img { 
    animation: show 1s infinite;
    -webkit-animation: show 1s infinite;
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute; /*画像を全て重ねる*/
}

/*アニメーション*/

@keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
 }

@-webkit-keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
}

/*各画像のアニメーションの開始時間をずらす*/

.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.photo-show img:nth-of-type(3) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.photo-show img:nth-of-type(4) {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.photo-show img:nth-of-type(5) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 2s;
}

/*マウスが画像に重なった際、動きを止めて四角くする*/

.photo-show img {
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.photo-show:hover img {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    border-radius: 0;
}

