html {
    
}

body {
    font-family:  "Hiragino Kaku Gothic ProN", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#shape_01 {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 800px;
    height: 800px;
}

.typo_01 {
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: "YuMincho", serif;
    font-weight: bold;
    font-size: 24vh;
    color: #ffeb00;
}

.typo_02 {
    margin-top: -24vh;
    text-align: center;
    line-height: 24vh;
    font-family: "YuMincho", serif;
    font-weight: bold;
    font-size: 3vh;
    color: #000000;
}

