body {
    z-index:0; 
    background: #2200ec;
    font-family: Helvetica Neue,YuMincho;
    background-blend-mode: multiply;
}

.overlay_container {
    position: relative;
    z-index: 201;
    width: 100%;
    background-image: url("../image/dot_gradation.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

.left_side {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 100%;
    left: 0;
    background: #000000;
}

.right_side {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 100%;
    right: 0;
    background: #ffffff;
}

.text_info {
    box-sizing: border-box
    padding-left: 20px;
    font-family: Helvetica Neue,sans-serif;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url("../image/dot_gradation_02.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

.text_place {
    font-size: 200px;
    line-height: 0.8em;
    font-weight: 600;
    border-left: 4px solid #ffee00;
}

.text_date {
    font-size: 120px;
    line-height: 1.0em;
    font-weight: 600;
    border-left: 4px solid #ffee00;
}

.text_category {
    margin-top: 100px;
    font-size: 80px;
    font-weight: 600;
    border-left: 4px solid #ffee00;
}

.artist_list {
    margin-top: 60px;
    font-size: 70px;
    font-weight: 600;
    border-left: 4px solid #ffee00;
}

.clear {
    clear: both;
}