body{
  width: 100%;
  height: 100vh;
  color: #ffffff;
  font-family: Helvetica;
}

.mainimage {
  height: 100vh;
  background-image: url("../images/gabage.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  position: absolute;
  margin-left: 80px;
  margin-top : 80px;
  font-family: HelveticaNeue;
  font-weight: bold;
  font-size: 28pt
}
