body{
  color: #424242;
  font-family: Helvetica;
}

/*ここからチェックボックス用の追加CSS*/

.font-feature{
  font-feature-settings: "palt";
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
}

.break-word{
  overflow-wrap: break-word;
}

/*ここまでチェックボックス用の追加CSS*/

.contents{
  width: 100%;
  margin:0 auto;
  padding-top: 0px;
}

.wrap{
  width: 86%;
  margin:0 auto;
}

.clear{
  display: block;
  clear: both;
}

/*ここからコントロール*/

.control-area{
  
}

.control-wrap{
  width: 86%;
  margin:0 auto;

}

.checkbox-area {
    float: left;
    width: 50%;
}

.pulldown-area {
    float:  right;
    width: 50%;
}

.pulldown-area:before {
    display: block;
    content: '';
    margin-right: 40px;
    float: left;
    width: 1px;
    height: 60px;
    background: #cecece;
}

.control-area > label{
  margin-right: 20px;
}

.check-style{
    float: left;
  width: 50%;
}

.check-style:nth-of-type(3) {
    margin-top:14px;
}

.pulldown {
    width: 45%;
    float: left;
}

#pull1,#pull2{
  font-size: 14px;
  margin-right: 20px;
}

input[type=checkbox]{
  transform: scale(1.8);
}

.fixed{
  position: fixed;
  top:0;
}

#globalNavi{
  box-sizing: border-box;
    /*親要素の高さを子要素の高さに合わせる*/
    overflow: hidden;
  width: 100%;
  padding: 24px 30px;
  background-color: #F2F2F2;
    opacity: 0.96;
  font-size: 14pt;
  z-index: 10000;
}

/*ここまでコントロール*/

.section1{
  box-sizing: border-box;
  width: 50%;
  padding-top: 40px;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  position:relative;
}

.font-family{
  font-size: 10pt;
  font-weight: Bold;
  margin-bottom: 20px;
  color: #2E9AFE;
}

.font-type-01{
  font-family: "YuGothic","Yu Gothic";
}

.font-type-02{
  font-family: "YuMincho","Yu Mincho";
}

.font-type-03{
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3";
}

.font-type-04{
  font-family: "HiraMinProN-W6", "ヒラギノ明朝 ProN W6";
}

.font-type-05{
  font-family: "Noto Sans JP","Noto Sans CJK JP";
}

.font-type-06{
  font-family: "Noto Serif CJK","Noto Serif CJK JP";
}

.font-type-07{
  font-family: "MS PGothic","MS Pゴシック";
}

.font-type-08{
  font-family: "Meiryo","メイリオ";
}

.h1-wrap{
  width: 100%;
  background-color: #535353;
}

h1{
  width: 86%;
  margin: 0 auto;
  color: #ffffff;
  font-family: Helvetica ;
  font-size: 16pt;
  font-weight: Bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: -0.04em;
}

h2{
  font-size: 22pt;
  font-weight: Bold;
  margin-bottom: 14px;
}

p{
  font-size: 12pt;
  font-weight: Normal;
  line-height: 1.8em;
  font-kerning: auto;
  letter-spacing: 0em;
  margin-top: 0;

}

li:nth-child(2n){
  color: red;
}
