body {
  background: linear-gradient(#ff3687,#ffcc00);

  font-family: "Helvetica","游明朝体";
}

.parent {
    position: relative;
    
}

.emoji {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 200px;
    line-height: 100vh;
    width: 100vw;
    height: 100vh;
    
    
    animation-name: anime;
    animation-duration: 1s,0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}