body {
    z-index:0; 
    font-family: Helvetica Neue,YuMincho;
}

.contents {
    width: 100%;
    height: 100%;
}

.oba {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: url(../image/sprite.png);
    width: 800px;
    height: 600px;
    animation: oba_animation 0.2s steps(3) infinite;
}

@keyframes oba_animation {
    to {
    background-position: -2400px 0;
  }
}