body {
  background-color: #ff5400;

  font-family: "Helvetica","游明朝体";
}

.soup-box {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ff4105, #ff2b91);
  transform: rotate(45deg)
}

.soup-text {
  position: relative;
  width: 300px;
  top: 44vh;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 0.8vw;
  letter-spacing: 1.8em;
  line-height: 2.5em;
}

.egg-box {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ff8505, #ffdd2b);
}

.egg-text {
  position: relative;
  width: 300px;
  top: 44vh;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 0.8vw;
  letter-spacing: 1.8em;
  line-height: 2.5em;
}

.egg-undertext {
  position: relative;
  width: 100vw;
  bottom: 0vh;
  color: #ffffff;
  font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
  font-size: 20vw;
  letter-spacing: 0.04em;
}

.vertical-text-box-1 {
  position: absolute;
  top: 36vh;
  right: 5vw;
}

.vertical-text-1 {
  color: #ffffff;
  font-family: "Arial Black",bold,sans-serif;
  font-size: 2vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 1em;
  text-decoration: overline;
}

.vertical-text-box-2 {
  position: absolute;
  top: 36vh;
  left: 5vw;
}

.vertical-text-2 {
  color: #ffffff;
  font-family: "Arial Black",bold,sans-serif;
  font-size: 2vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 1em;
  text-decoration: overline;
}

.liquid-box {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#00eeb5, #34ed41);
}

.liquid-text {
  position: relative;
  width: 300px;
  top: 44vh;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 0.8vw;
  letter-spacing: 1.8em;
  line-height: 2.5em;
}

.ontext-1 {
  z-index: 9999;
  position: absolute;
  top: 180vh;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  left: 5vw;
  color: #ffffff;
  font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
  font-size: 5vw;
  letter-spacing: 0.04em;
}

.ontext-2 {
  z-index: 9999;
  position: absolute;
  top: 240vh;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  right: 5vw;
  color: #ffffff;
  font-family: "Helvetica Neue Bold","HelveticaNeue-Bold";
  font-size: 5vw;
  letter-spacing: 0.04em;
}
