html {
    text-align: center;
}

.box1 {
    display: block;
    background: #ff8686;
}

.box2 {
    display: inline;
    
    padding-top: 4px;
    padding-bottom: 4px;
    background: #7fd8ff;
}

.box3 {
    display: inline-block;
    background: #9bf4bd;
}

.box4 {
    display: contents;
    background: #e39bf4;
}