body{
  background-color: #ffffff;

}

.poem{
    position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: YuMincho;
  font-size: 2vw;
  line-height: 4em;
  letter-spacing: 0.5em;
  color: #333333;
}
