html {
    font-size: 16px;
}

.f-container {
    display: flex;
    justify-content: center;
    transform: skew(15deg,30deg);
}

.f-item01 {
    flex-basis: 10%;
    flex-shrink: 1;
    background-color: antiquewhite;
    height: 50px;
}

.f-item02 {
    flex-basis: 10%;
    flex-shrink: 2;
    background-color: #ffcc00;
    height: 50px;
}

.f-item03 {
    flex-basis: 10%;
    flex-shrink: 3;
    background-color: #df00dd;
    height: 50px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 10px;
    background: #ffcc00;
    border: solid 1px orange;
}

td {
    padding: 10px;
    border: solid 1px orange;
}

.colfruit {
    background-color: antiquewhite;
}

@keyframes myanimation {
    0% {
        color: #000000;
        font-size: 1em;
    }
    100% {
        color: #ff0000;
        font-size: 4em;
    }
}

.anim {
    animation-name: myanimation;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: none;
    animation-delay: 4s;
    animation-iteration-count: 0;
    
    background-color: antiquewhite;
}

.remem0 {
    font-size: 14px;
}

.remem1 {
    font-size: 1rem;
}

.remem2 {
    font-size: 1em;
}

.fonttest {
    font: bold 11px /20px "游ゴシック体";
}

.textdecostyle {
    text-decoration: underline dotted red;
}

.boxtestA {
    box-sizing: content-box;
    padding: 10px;
    border: 10px solid orange;
    width: 300px;
    height: 100px;
}

.boxtestB {
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid orange;
    width: 300px;
    height: 100px;
}

.ctest_1 {
    float: left;
    background-color: blue;
    width: 300px;
    height: 100px;
}

.ctest_2 {
    float: left;
    background-color: aqua;
    width: 300px;
    height: 100px;
}

.ctest_3 {
    background-color: brown;
     width: 800px;
    height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear:both;
}

.otest {
    overflow: visible;
    background-color: coral;
    width: 300px;
    height: 100px;
}

.border_test {
    background-color: aqua;
    width: 300px;
    height: 100px;
    border: solid 2px #0000ff;
    border-radius: 100% 2% 12% 0%;
}

.gradient-test {
    width: 300px;
    height: 200px;
    background: linear-gradient(to top, red, blue);
}

.column-test {
    columns: 2 auto;
}

.columnspan_test {
    columns: 4 auto;
}

.columnspan_test h4 {
    column-span: all;
    text-align: center;
    background-color: yellowgreen;
}

.boxmodel-test {
    box-sizing: border-box;
    background-color: aquamarine;
    padding: 20px;
    margin: 50px;
    width:200px;
    border: solid 10px black;
}

.margin-test-a {
    margin-bottom: 80px;
    background-color: aquamarine;
}

.margin-test-b {
    margin-top: 50px;
}

abbr {
    color: green;
    font-style: italic;
}