body {
  background: #ffffff;
  font-family: "Helvetica","游明朝体";

}

.main {
    position: relative;
}

.month-wrap {
    z-index: 1;
    display: inline-block;
    width: 20%;
    color: #545759;
}

.month {
    position: absolute;
    padding-left: 200px;
    padding-top: 60px;
    font-family: Helvetica Neue, sans-serif ;
    font-weight: 500;
    font-size: 86px;
}

.wrap-date {
    
    top: 80px;
   left: 400px;
}

ul {
    width: 70%;
    left: 60px;
}

li {
    box-sizing: border-box;
    float: left;
    list-style-type: none;
    width: 14%;
    height: 100px;
    background: #ffffff;
}

ul li:not(:nth-child(7n+1)) {
    border-left: none;
    
}

ul li:nth-child(n+8) {
    border-top: none;
    
}

.date-cell {
    border: 1px solid #efefef;
}

.date {
    position: absolute;
    
    font-family: Helvetica Neue, sans-serif ;
    font-weight: 100;
    font-size: 36px;
    color: #545759;
    line-height: 70px;
    left: 20px;
}