body {
    font-family: "Noto Sans Japanese","ヒラギノ角ゴ ProN W3",sans-serif;

}

div {
    display: block;
}

.container {
    position: relative;
    width: 100%;
    background: #ffffff;
}

#main-image {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("../image/fukuoka_03.jpg");
    background-size: cover;
}

.contents {
    position: relative;
    backface-visibility: hidden;
    width: 100%;
}

.intro-movie {
    position: relative;
    display: table;
    width: 100%;
    height: calc(100vh - 220px);
}

.intro-top {
    width: 100%;
}

.intro-inner {
    position: absolute;
    bottom: 16px;
    left: 24px;
    width: auto;
    height:auto;
}

.intro-title {
    font-family: Helvetica Neue, sans-serif;
    font-size: 3rem;
    font-weight: 100;
    color: #ffffff;
}

/*ここからNEWS*/

.sec-news {
    display: block;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

.sec-news h3 {
    font-family: Helvetica Neue,sans-serif;
    font-weight: 100;
    color: #c00;
}

.top-sec-news-pr {
    padding: 0;
    width: 100%;
    background-color: rgba(245,245,245,0.9);
}

.sec-news-content {
    position: relative;
    width: 100%;
    height: 180px;
    background: rgba(245,245,245,0.9);
}

.sec-news-title {
    display: block;
    float: left;
    width: 210px;
    padding: 8px 0 0;
    font-size: 2.5rem;
}

.sec-news-inner-1 {
    position: absolute;
    left: 210px;
    right: 210px;
    min-width: 860px;
    border-bottom: solid 1px #c00;
}

.news-box-wrapper {
    border-bottom: 1px solid rgba(200,200,200,0.9);
}

.news-box {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 59px;
}

.news-box-head {
    display: table-cell;
    width: 104px;
    padding-left: 4px;
}

.news-box-head p {
    font-size: 15px;
    color: #c00;
    font-family: Helvetica Neue,sans-serif;
    font-weight: 100;
}

.news-box-body {
    display: table-cell;
}

.news-box-body p {
    font-size: 15px;
    color: #222;
    line-height: 1.8;
}

.sec-news-inner-2 {
    position: absolute;
    left: 210px;
    right: 210px;
    min-width: 860px;
}

.top-sec-news-pr strong {
    display: inline-block;
    padding: 0 0 0 24px;
}

/*ここからピックアップ*/

.pic-sec-1 {
    width: 100%;
    height: 45vw;
    background: rgba(40,47,58,.84);
}

.pic-sec-box-1 {
    position: relative;
    float: left;
    background: #896689;
}

.pic-sec-box-2 {
    position: relative;
    float: left;
    background: #668989;
}

.pic-sec-box-3 {
    position: relative;
    float: right;
    background: #898956;
}

.pic-sec-box-4 {
    position: relative;
    float: left;
    background: #666689;
}

.s-size {
    width: 25%;
    height: 22vw;
}

.m-size {
    width: 50%;
    height: 22vw;
}

.l-size {
    width: 50%;
}

.pic-sec-1 h3 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    text-align: center;
    font-family: Helvetica Neue,sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 1.15;
    color: #ffffff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.arrow {
    position: absolute;
    top: auto;
    right: 19px;
    bottom: 20px;
    left: auto;
    color: #ffffff;
}

.meshing-sec {
    position: relative;
    width: 100%;
    height: 32vw;
    background: 0 0;
    color: #fff;
    text-align: center;
}

.meshing-sec-inner {
    position: relative;
    height: 100%;
    -webkit-box-align: center;
    justify-content: center;
    flex-direction: column;
}

.meshing-sec h3 {
    font-family: Helvetica Neue,sans-serif;
    font-size: 4rem;
    font-weight: 100;
}

.meshing-sec h4 {
    font-size:  16px;
   letter-spacing: 0.4em;
}