:root {
  --font-name-1: HelveticaNeue;
  --font-name-2: YuGothic;
  --main-bg-color: none;
}

body {
  width: 100%;
  background: url(img.jpg) center center fixed no-repeat;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.contents {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: var(--font-name-1),var(--font-name-2);
  background-color: var(--main-bg-color);
}

.mainpoem {
  margin: 0 auto;
  margin-top: 22vh;
  writing-mode: vertical-rl;
  font-size: 13pt;
  font-weight: normal;
  letter-spacing: 0.8em;
  line-height: 4em;
  color: white;
}

.project-title {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  font-size: 20pt;
  font-weight: bold;
}

.info-date {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 10pt;
  color: white;
  font-weight: bold;
}
.info-location {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 10pt;
  color: white;
  font-weight: bold;
}
