body {
  background: #ffffff;
  font-family: "Helvetica","游明朝体";
}

div {
    display: block;
}

/*-------  ここからヘッダー  --------*/

.header {
    z-index: 100;
    position: fixed;
    width: 100%;
    float: right;
}

.logo {
    z-index: 104;
    display: inline-block;
    position: absolute;
    font-family: Helvetica Neue,sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
    left: 30px;
    float: left;
}

.menu_list {
    z-index: 104;
    position: absolute;
    display:  flex;
    float: right;
    right: 40px;
    top: 0px;
    font-family: Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.menu {
    z-index: 104;
    display: inline-block;
    float: right;
    
    padding-right: 40px;
    line-height: 80px;
}

.btn_menu {
    position: absolute;
    z-index: 104;
    font-size: 20px;
    line-height: 80px;
    top: 28px;
}

.header_bg {
    display: none;
    position: fixed;
    top:0;
    z-index: 98;
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

/*-------  ここまでヘッダー  --------*/


/*-------  ここからコンテンツ  --------*/
.contents {
    overflow: hidden;
    z-index: 100;
}

/*-------  ここからメインイメージ  --------*/

.mainimage {
    position: relative;
    width: 100%;
    height: 600px;
    background: #ededed;
}

.btn_cv {
    position: absolute;
    display: inline-block;
    right: 60px;
    bottom: 60px;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-align: center;
    background: #000000;
    padding: 20px 60px;
}

.btn_cv_icon {
    padding-right: 6px;
    font-size: 16px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.btn_left {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
    padding: 16px 20px;
    color: #000000;
    font-size: 18px;

}

.btn_right {
    position: absolute;
    left: 52px;
    bottom: 0;
    background: #ffffff;
    padding: 16px 20px;
    color: #000000;
    font-size: 18px;

}

/*-------  ここからメッセージ  --------*/

.message_box {
    position: relative;
    width: 900px;
    height: 760px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 18px;
}

.message_box_message_01 {
    position: absolute;
    right: auto;
    left: 485px;
}

.message_box_message_02 {
    position: absolute;
    right: auto;
    left: 36px;
    bottom: 0;
}

.message_box_image_01 {
    width: 320px;
    height: 380px;
    background: linear-gradient(#bee9ea, #9fa1d8);
}

.message_box_image_02 {
    position: absolute;
    right: 0;
    bottom: 32px;
    width: 320px;
    height: 380px;
    background: linear-gradient(#e3e1d9, #efd4ee);
}

/*-------  ここからプロダクト  --------*/

.product_box {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.product_box_product_01 {
    left: 0;
    position: relative;
    width: 385px;
    height: 500px;
    background: linear-gradient(#f5ecc8, #cbeddd);
}

.product_box_product_02 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -192px;
    width: 385px;
    height: 500px;
    top: 60px;
    background: linear-gradient(#f5ecc8, #cbeddd);
}

.product_box_product_03 {
    position: absolute;
    top: 0;
    right: 0;
    width: 385px;
    height: 500px;
    background: linear-gradient(#f5ecc8, #cbeddd);
}

.product_box_product_info {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 66px;
    font-family: Helvetica Neue, YuGothic, sans-serif;
    font-weight: bold;
}

.product_box_product_info_title {
    margin-bottom: 20px;
}

.product_box_product_info_text {
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
    margin-bottom: 20px;
}

.product_box_product_info_btn {
    display: inline-block;
    padding: 20px 60px;
    background: #000000;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-size: 12px;
    font-weight: 400;
}

.cv_area {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.btn_cv_l {
    display: block;
    margin: 0 auto;
    width: 600px;
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-align: center;
    background: #000000;
    padding: 30px 80px;
}

/*-------  ここからallinone  --------*/

.allinone_area {
    position: relative;
    width: 100%;
    background: #ededed;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.allinone_area > h2 {
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 18px;
}

.allinone_area > p {
    font-family: YuGothic,sans-serif;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 12px;
    margin-top: 20px;
    color: #898989;
}

.detail_btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-align: center;
    background: #000000;
    padding: 20px 60px;
    margin-top: 300px;
    bottom: 100px;;
    
}

/*-------  ここから動画  --------*/

.movie_area {
    position: relative;
    width: 100%;
    height: 690px;
    margin-top: 100px;
}

.background_base {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #ededed;
}

.movie {
    position: absolute;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 960px;
    height: 480px;
    background: linear-gradient(#c8f5e7, #fde8df);
}

/*-------  ここからメッセージ詳細  --------*/

.message_detail_01_area {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    color: #000000;
}

.message_detail_01_image {
    position: absolute;
    width: 50%;
    height: 400px;
    top: 0;
    left: 0;
    background: #ededed;
}

.message_detail_01_area > h2 {
    position: absolute;
    display: block;
    width: 40%;
    right: 0;
    top: 60px;
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 18px;
}

.message_detail_01_area > p {
    position: absolute;
    display: block;
    width: 40%;
    right: 0%;
    margin-top: 160px;
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 12px;
    color: #000000;
}

.message_detail_02_area {
    position: relative;
    width: 100%;
    height: 560px;
    margin-top: 100px;
    background: #ffffff;
}

.message_detail_02_area > h2 {
    padding-left: 200px;
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 24px;
}

.message_detail_02_area > p {
    padding-left: 200px;
    margin-top: 20px;
    font-family: YuGothic,sans-serif;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 12px;
}

.message_detail_02_images {
    width:  100%;
    height: 200px;
    padding-left: 200px;
    margin-top: 60px;
}

.message_detail_02_images li {
    float: left;
    width: 300px;
    height: 200px;
    background: linear-gradient(#c8f5e7, #fde8df);
}

.message_detail_02_images li:not(:first-child) {
    margin-left: 20px;
}

.detail_buttons {
    display: inline-block;
    position: relative;
    width:  100%;
    height: 60px;
    padding-left: 200px;
}

.detail_btn_left {
    background: #ffffff;
    padding: 16px 20px;
    color: #000000;
    font-size: 18px;

}

.detail_btn_right {
    background: #ffffff;
    padding: 16px 20px;
    color: #000000;
    font-size: 18px;

}
:
/*-------  ここからニュースリリース  --------*/
.news_area {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-top: 100px;
    transform: translate(-200px,0);
}

.news_base {
    position: absolute;
    box-sizing: border-box;
    background: #ededed;
    width: 80%;
    padding: 60px 18%;
}

.news_base > h2 {
    font-family: YuGothic,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2.0em;
    font-size: 24px;
}

.news{
    padding: 20px 0;
    border-bottom: 1px solid #cbcbcb;
}

.news_date {
    display: inline-block;
    color: #898989;
    font-size: 12px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 200;
    letter-spacing: 0.2em;
}

.news_detail {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-family: Yu Gothic, sans-serif;
    margin-left: 20px;
}

.footer {
    position: relative;
    margin-top: 500px;
    height: 280px;
    width: 100%;
    background: #000000;
}

.footer_links {
    position: absolute;
    display: block;
    text-align: center;
    width: 400px;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 60px;
    color: #ffffff;
    font-family: Yu Gothic, sans-serif;
    font-size: 12px;
}

.footer_links > ul {
    
}

.footer_links > ul > li {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 40px;
}

.footer_logo {
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 100px;
    font-family: Helvetica,sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
}

.footer_line {
    position: absolute;
    display: block;
    bottom: 100px;
    width: 100%;
    height: 4px;
    background: #ffffff;
}

.footer_copyright {
    position: absolute;
    display: block;
    width: 100%;
    font-family: Helvetica,sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.2em;
    bottom: 60px;
}