html {
    
}

body {
    font-family:  "Hiragino Kaku Gothic ProN", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box__wrap {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.box {
    display: inline-block;
    writing-mode: vertical-rl;
    width: 30%;
    height: 90%;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    font-family: "Yumincho";
    font-size: 48px;
}